@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
i.material-icons.grey-text {
  margin-bottom: 12%;
}
 header{
    background-color: #ecfdff;
    min-height: 100vh;
  background-position: center;
 
} 

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.dropdown-content{
  width:20%;
  overflow: hidden;
  display: block;
  border: 0px solid transparent;
  background-color: #ff3368;
}

.btn-large20 {
    display: inline-block;
    padding: 13px 39px;
    border-radius: 50px;
    background-color: #ff3368;
    color: #fff;
    text-transform: uppercase;
}
.btn-large20:hover {
 background-color: red;
 color: white;
}

