
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
i.material-icons.grey-text {
  margin-bottom: 12%;
}
 header{
    background-color: #ecfdff;
    min-height: 100vh;
  background-position: center;
 
} 
.dropdown-content{
    width:20%;
    overflow: hidden;
    display: block;
    border: 0px solid transparent;
    background-color: #ff3368;
  }
  #data{
      background-color: #ECFDFF;
      padding:12px;
  }
  .btn-large11 {
    display: inline-block;
    padding: 13px 39px;
    border-radius: 50px;
    background-color: #ff3368;
    border: 1px solid #ecfdff;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
    border: 1px solid #ff3368;
    -webkit-transition: 0.5s;
    transition: 0.5s;

}
.btn-large11:hover {
 background-color: red;
 color: white;
}
.on{
    color: grey;
}
.btn-large12 {
    margin: 0;
    border: 1px solid #eee;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 1rem;
    padding: 1rem;
    width:30%;
    color:black;
  }
  .btn-large12:hover {
   background-color: #ff3368;
   color: white;
  }
  .order_box {
    background: #ecfdff;
    padding: 30px;
}

.row .col.l5 {
    margin-top: -78px;
    margin-left: 0px;
    padding-left: 27px;
    padding-right: -17px !important;
    background-color: #ecfdff;
    padding-bottom: 26px;
}

.hero{
    font-size: 25px;
    font-weight:bold;
}

.sub-hero{
    font-size:20px;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .row .col.l5 {
        margin-top: 0px !important;
    }
}
.hero-te{
    background-color: #fff;
    color:black;
    padding:7px;
}


.btn-large14 {
    padding: 9px 42px;
    border-radius: 50px;
    background-color: #ff3368;
    border: 1px solid #ecfdff;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255,51,104,.18);
    border: 1px solid #ff3368;
    transition: .5s;
    display: block;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;

}
.btn-large14:hover {
 background-color: red;
 color: white;
}