@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
i.material-icons.grey-text {
  margin-bottom: 12%;
}
 header{
    background-color: #ecfdff;
    min-height: 100vh;
  background-position: center;
 
} 

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.btn-large2 {
    margin: 0;
    border: 1px solid #eee;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 1rem;
    padding: 1rem;
    width:30%;
  }
  .btn-large3 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    background-color: #ff3368;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    margin-left: 10px;
  }
  
  a.btn-white.large4 {
    margin-left: 3%;
    
   } 

.dropdown-content{
  width:20%;
  overflow: hidden;
  display: block;
  border: 0px solid transparent;
  background-color: #ff3368;
}
i.material-icons.icon {
    margin-bottom: 12%;
  }
  .table-responsive{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: #797979;
    margin-bottom: 0px;
    white-space: nowrap;
}
.btn-large8 {
  margin: 0;
  border: 1px solid #eee;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 1rem;
  padding: 1rem;
  width:30%;
  color:white;
  padding-top: 10%;
  padding-right:35%;
  text-align: center;
}
.btn-large8:hover {
 background-color: #ff3368;
 color: white;
}
.btn-large9 {
    display: inline-block;
    padding: 13px 39px;
    border-radius: 50px;
    background-color: #ff3368;
    border: 1px solid #ecfdff;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
    border: 1px solid #ff3368;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    float: right;

}
.btn-large9:hover {
 background-color: red;
 color: white;
}
